<h1>Criar Categoria</h1>
<form action="/admin/categorias/criar" method="POST">
    <label for="name">Nome </label>
    <input type="text" name="name" id="name">
    <br>
    <input type="submit" value="Criar">
</form>
<form action="/admin/painel">
    <input type="submit" value="Voltar ao painel">
</form>