<div
  class='border-2 border-primary-green rounded-md p-4 m-auto shadow mmd:w-80 sm:w-96'
>
  <h1 class='font-bold text-2xl text-center pb-2'>Deletar categoria</h1>
  <form action='/admin/categorias/deletar' method='POST' class='mb-2'>
    <div class='flex flex-col mb-4'>
      <label for='id' class='font-bold'>ID </label>
      <input
        type='text'
        name='id'
        id='id'
        required
        class='border-2 border-primary-green rounded-sm outline-0 px-4 py-2 focus:shadow-md'
      />
    </div>
    <div>
      <input
        type='submit'
        value='Deletar'
        class='font-bold text-white w-full bg-primary-green border-2 border-primary-green rounded-sm p-2 transition-colors hover:text-white hover:bg-dark-primary-green hover:border-dark-primary-green hover:cursor-pointer'
      />
    </div>
  </form>
  <a href='/admin' class='hover:text-dark-primary-green'>
    Voltar ao painel
  </a>
</div>