<div class='form-card'>
  <h1 class='form-title'>Deletar categoria</h1>
  <form action='/admin/categorias/deletar' method='POST'>
    <div class='input-group mb-4'>
      <label for='id'>ID </label>
      <input type='text' name='id' id='id' required />
    </div>
    <div>
      <input type='submit' value='Deletar' class='form-submit' />
    </div>
  </form>
  <a href='/admin' class='back-link'>
    Voltar ao painel
  </a>
</div>