<form action='/admin/categorias/deletar' method='POST'>
  <label for='id'>ID </label>
  <input type='text' name='id' id='id' />
  <input type='submit' value='DELETAR' />
</form>
<form action='/admin'>
  <input type='submit' value='Voltar ao painel' />
</form>