<div class='form-card'>
  <h1 class='form-title'>Editar categoria</h1>
  <form action='/admin/categorias/editar' method='POST'>
    <div class='input-group mb-2'>
      <label for='id' class='font-bold'>ID</label>
      <input
        type='text'
        name='id'
        id='id'
        value='{{id}}'
        readonly
        required
        class='bg-slate-200'
      />
    </div>
    <div class='input-group mb-4'>
      <label for='name' class='font-bold'>Nome</label>
      <input type='text' name='name' id='name' value='{{name}}' required />
    </div>
    <div>
      <input type='submit' value='Editar' class='form-submit' />
    </div>
  </form>
  <a href='/admin/categorias' class='back-link'>
    Voltar à lista
  </a>
</div>