<h1 class='font-bold text-center text-2xl pb-2 2xs:text-left'>Lista de
  categorias:</h1>
<ul
  class='mb-2 grid gap-2 2xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5'
>
  {{#each categories}}
    <li class='border-2 border-primary-green rounded-md p-4 shadow'>
      <h2 class='text-xl font-bold'>{{this.name}}</h2>
      <p><strong>ID:</strong> {{this.id}}</p>

      <div
        class='text-center grid grid-cols-2 justify-between items-center gap-2 mt-2'
      >
        <a
          href='/admin/categorias/editar/{{this.id}}'
          class='text-white bg-primary-green border-2 border-primary-green rounded-sm px-2 py-1 transition-colors hover:bg-dark-primary-green hover:border-dark-primary-green'
        >
          Editar
        </a>

        <form action='/admin/categorias/deletar' method='POST' class='m-0'>
          <input type='hidden' name='id' id='id' value='{{this.id}}' />
          <input
            type='submit'
            value='Deletar'
            class='text-white w-full bg-primary-red border-2 border-primary-red rounded-sm hover:cursor-pointer px-2 py-1 transition-colors hover:bg-dark-primary-red hover:border-dark-primary-red'
          />
        </form>
      </div>
    </li>
  {{/each}}
</ul>
<a href='/admin' class='hover:text-dark-primary-green'>
  Voltar ao painel
</a>