<ul>
    {{#each categories}}
        <li>
            <h2>Nome : {{this.name}}</h2>
            <p><strong>ID</strong> : {{this.id}}</p>
        </li>
    {{/each}}
</ul>
<form action="/admin/painel">
    <input type="submit" value="Voltar ao painel">
</form>