<h1 class='title'>Lista de categorias:</h1>
<ul class='list'>
  {{#each categories}}
    <li class='list-card'>
      <h2>{{this.name}}</h2>
      <p><strong>ID:</strong> {{this.id}}</p>

      <div class='button-group'>
        <a href='/admin/categorias/editar/{{this.id}}' class='edit-button'>
          Editar
        </a>

        <form action='/admin/categorias/deletar' method='POST' class='m-0'>
          <input type='hidden' name='id' id='id' value='{{this.id}}' />
          <input type='submit' value='Deletar' class='delete-button' />
        </form>
      </div>
    </li>
  {{/each}}
</ul>
<a href='/admin' class='back-link'>
  Voltar ao painel
</a>