<h1 class='text-2xl font-bold pb-2'>Lista de produtos:</h1>
<ul
  class='grid gap-2 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5'
>
  {{#each products}}
    <li class='border-2 border-dark-green rounded-md p-4 shadow'>
      <h2 class='text-xl font-bold'>{{this.name}}</h2>
      <p>{{this.description}}</p>
      <p class='font-bold text-2xl my-2'>{{this.formatted_price}}</p>
      <a
        href='/produtos/{{this.id}}'
        class='font-bold uppercase w-full border-2 border-dark-green rounded-sm flex justify-center items-center gap-2 py-2 block transition-colors hover:text-white hover:bg-dark-green'
      >
        <i class='ri-shopping-cart-line text-lg'></i>
        Comprar
      </a>
    </li>
  {{/each}}
</ul>