<nav class='text-center text-white bg-primary-green w-full shadow-md fixed'>
  <div
    class='max-w-screen-2xl mx-auto flex justify-center items-center gap-8 px-4 py-4 mlg:px-12 mlg:justify-between'
  >
    <div class='flex justify-between items-center gap-8'>
      <h1
        class='text-lg font-bold transition-colors hover:text-dark-primary-green'
      >
        <a href='/'>
          Fit Shop
        </a>
      </h1>
      <ul class='flex flex-col flex-wrap gap-4 2xs:flex-row'>
        {{! <li>
          <a href='/produtos' class='nav-link'>
            Produtos
          </a>
        </li>
        <li>
          <a href='/categorias' class='nav-link'>
            Categorias
          </a>
        </li> }}
      </ul>
    </div>
    <ul class='flex justify-center items-center {{#if user}}{{else}}flex-col-reverse{{/if}} flex-wrap gap-2 xs:flex-row xs:gap-4'>
      {{#if user}}
        <li>
          <p>
            <a
              href='/favoritos'
              class='font-bold transition-colors hover:text-dark-primary-green'
            >
            Favoritos
            </a>
          </p>
        </li>
        <li>
          <p>
            Olá,
            <a
              href='#'
              class='font-bold transition-colors hover:text-dark-primary-green'
            >{{user.first_name}}</a>
          </p>
        </li>
        <li>
          <a
            href='/conta/sair'
            class='border-2 border-white rounded-sm px-2 py-1 block transition-colors hover:text-primary-green hover:bg-white'
          >
            Sair
          </a>
        </li>
      {{else}}
        <li>
          <a
            href='/conta/entrar'
            class='bg-white text-primary-green border-2 border-white rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-primary-green hover:border-dark-primary-green'
          >
            Entrar
          </a>
        </li>
        <li>
          <a
            href='/conta/cadastrar'
            class='border-2 border-white rounded-sm px-2 py-1 block transition-colors hover:text-primary-green hover:bg-white'
          >
            Cadastrar
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>