<nav
  class='text-center text-white bg-primary-green flex w-full justify-center items-center gap-8 px-4 py-4 shadow-md fixed mlg:px-12 mlg:justify-between'
>
  <div class='flex justify-between items-center gap-8'>
    <h1
      class='text-lg font-bold transition-colors hover:text-dark-primary-green'
    >
      <a href='/'>
        Fit Shop
      </a>
    </h1>
    <ul class='flex flex-col flex-wrap gap-4 2xs:flex-row'>
      <li>
        <a href='/produtos' class='nav-link'>
          Produtos
        </a>
      </li>
      <li>
        <a href='/categorias' class='nav-link'>
          Categorias
        </a>
      </li>
    </ul>
  </div>
  <ul class='flex flex-col-reverse flex-wrap gap-2 xs:flex-row xs:gap-4'>
    <li>
      <a
        href='/conta/entrar'
        class='bg-white text-primary-green border-2 border-white rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-primary-green hover:border-dark-primary-green'
      >
        Entrar
      </a>
    </li>
    <li>
      <a
        href='/conta/cadastrar'
        class='border-2 border-white rounded-sm px-2 py-1 block transition-colors hover:text-primary-green hover:bg-white'
      >
        Cadastrar
      </a>
    </li>
  </ul>
</nav>