<div class='form-card'>
  <h1 class='form-title'>Criar produto</h1>
  <form action='/admin/produtos/criar' method='POST'>
    <div class='input-group mb-2'>
      <label for='name'>Nome</label>
      <input type='text' name='name' id='name' required />
    </div>
    <div class='input-group mb-2'>
      <label for='price'>Preço</label>
      <input type='text' name='price' id='price' required />
    </div>
    <div class='input-group mb-2'>
      <label for='description'>Descrição</label>
      <textarea name='description' id='description' required></textarea>
    </div>
    <div class='input-group mb-4'>
      <label for='category_id'>Categoria</label>
      <select name='category_id' id='category_id' required>
        <option value='' disabled selected></option>
        {{#each categories}}
          <option value='{{this.id}}'>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      <input type='submit' value='Criar' class='form-submit' />
    </div>
  </form>
  <a href='/admin' class='back-link'>
    Voltar ao painel
  </a>
</div>