<h1 class='title'>Painel Administrativo:</h1>
<div
  class='grid justify-items-center items-center gap-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5'
>
  <div class='admin-card'>
    <h2 class='font-bold text-xl'>Produtos</h2>
    <ul class='admin-button-list'>
      <li>
        <a href='/admin/produtos/criar' class='admin-button'>
          Criar
        </a>
      </li>
      <li>
        <a href='/admin/produtos' class='admin-button'>
          Listar
        </a>
      </li>
      <li>
        <a href='/admin/produtos/deletar' class='admin-button'>
          Deletar
        </a>
      </li>
    </ul>
  </div>
  <div class='admin-card'>
    <h2 class='font-bold text-xl'>Categorias</h2>
    <ul class='admin-button-list'>
      <li>
        <a href='/admin/categorias/criar' class='admin-button'>
          Criar
        </a>
      </li>
      <li>
        <a href='/admin/categorias' class='admin-button'>
          Listar
        </a>
      </li>
      <li>
        <a href='/admin/categorias/deletar' class='admin-button'>
          Deletar
        </a>
      </li>
    </ul>
  </div>
</div>