<h1>Painel Administrativo</h1>
<a href="/admin/produtos/criar">Criar Produto</a>
<a href="/admin/produtos">Listar Produtos</a> 
<a href="/admin/produtos/deletar">Deletar Produto</a> 
<br>
<a href="/admin/categorias/criar">Criar Categoria</a>
<a href="/admin/categorias">Listar Categorias</a>
<a href="/admin/categorias/deletar">Deletar Categoria</a> 
