<h1 class='text-2xl font-bold pb-2'>Painel Administrativo</h1>
<div
  class='grid justify-items-center items-center gap-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5'
>
  <div
    class='text-center w-full border-2 border-dark-green rounded-md flex flex-col justify-center items-center gap-2 p-4 shadow mmd:w-fit'
  >
    <h2 class='font-bold text-xl'>Produtos</h2>
    <ul class='w-full flex flex-col flex-wrap gap-2 mmd:flex-row'>
      <li>
        <a
          href='/admin/produtos/criar'
          class='font-bold text-lg border-2 border-dark-green rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-green'
        >
          Criar
        </a>
      </li>
      <li>
        <a
          href='/admin/produtos'
          class='font-bold text-lg border-2 border-dark-green rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-green'
        >
          Listar
        </a>
      </li>
      <li>
        <a
          href='/admin/produtos/deletar'
          class='font-bold text-lg border-2 border-dark-green rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-green'
        >
          Deletar
        </a>
      </li>
    </ul>
  </div>
  <div
    class='text-center w-full border-2 border-dark-green rounded-md flex flex-col justify-center items-center gap-2 p-4 shadow mmd:w-fit'
  >
    <h2 class='font-bold text-xl'>Categorias</h2>
    <ul class='w-full flex flex-col flex-wrap gap-2 mmd:flex-row'>
      <li>
        <a
          href='/admin/categorias/criar'
          class='font-bold text-lg border-2 border-dark-green rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-green'
        >
          Criar
        </a>
      </li>
      <li>
        <a
          href='/admin/categorias'
          class='font-bold text-lg border-2 border-dark-green rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-green'
        >
          Listar
        </a>
      </li>
      <li>
        <a
          href='/admin/categorias/deletar'
          class='font-bold text-lg border-2 border-dark-green rounded-sm px-2 py-1 block transition-colors hover:text-white hover:bg-dark-green'
        >
          Deletar
        </a>
      </li>
    </ul>
  </div>
</div>