<form action='/carrinho/adicionar' method='POST'>
  <label for='user_id'>Email </label>
  <input type='text' name='user_id' id='user_id' />
  <br />
  <label for='id'>ID </label>
  <input type='text' name='id' id='id' />
  <br />
  <label for='quantity'>Quantidade </label>
  <input type='text' name='quantity' id='quantity' />
  <br />
  <input type='submit' value='Adicionar' />
</form>