<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    {{!-- Title --}}
    <title>{{title}}</title>

    {{!-- Styles --}}
    <link rel='stylesheet' href='/css/tailwind.css' />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body class="flex flex-col h-screen justify-between">
    {{> navigationBar}}
    <section class='text-dark-green w-full px-12 pt-20'>
      {{{body}}}
    </section>
    {{> footer}}
  </body>
</html>